.note:nth-child(1){
    background-color: #ff9e80;
}

.note:nth-child(2){
    background-color: #fef68a;
}

.note:nth-child(3){
    background-color: #ffa2ad;
}

.note:nth-child(4){
    background-color: #95fff3;
}

.note:nth-child(5){
    background-color: #91a0f5;
}

.note:nth-child(6){
    background-color: #ffcd8c;
}

.note:nth-child(7){
    background-color: #a2ffaa;
}

.note:nth-child(8){
    background-color: #fef68a;
}

.note:nth-child(9){
    background-color: #ffa2fa;
}

.note:nth-child(10){
    background-color: #95b1ff;
}

.note:nth-child(11){
    background-color: #a4ff80;
}

.note:nth-child(12){
    background-color: #fff38c;
}

.note:nth-child(13){
    background-color: #a2ddff;
}

.note:nth-child(14){
    background-color: #ffbf95;
}

.note:nth-child(15){
    background-color: #a8f591;
}

.note:nth-child(16){
    background-color: #8c97ff;
}

.note:nth-child(17){
    background-color: #e2ffa2;
}

.note:nth-child(18){
    background-color: #95b1ff;
}

.note:nth-child(19){
    background-color: #b0a5e2;
}

.note:nth-child(20){
    background-color: #fef68a;
}